{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src/js"],
        "alias": {
          "utils": "./src/js/utils"
        }
      }
    ]
  ]
}
