.button {
  @include button-reset;
  font-family: $font-sf-compact;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  padding: 19px 34px 18px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
  background-color: $color-white;
  color: $color-black;
  border-radius: 5px;
  transition: background-color $default-transition;

  &:focus,
  &:visited,
  &:hover {
    color: $color-black;
    background-color: darken($color-white, 3);
  }

  &_bold {
    font-weight: 600;
    padding-left: 57px;
    padding-right: 57px;
  }

  &_primary {
    min-width: 184px;
    color: $color-white!important;
    background-color: $color-purple!important;

    &:hover {
      color: $color-white!important;
      background-color: darken($color-purple, 10%)!important;
    }
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-top: 8px;
    margin-bottom: 8px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  @include screen-sm {
    padding-top: 8px;

    .button {
      width: 100%;
    }

    &__item {
      width: 100%;
      margin-top: 0;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}
