.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 45px;
  padding-right: 45px;

  &__item {
    position: relative;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      background-color: #F1F1F2;
    }
  }
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  }
  &__title {
    margin-top: 50px;
    font-family: $font-interstate;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  @include screen-xl {
    padding-left: 0;
    padding-right: 0;
  }
  @include screen-lg {
    &__title {
      margin-top: 42px;
      font-size: 21px;
    }
  }
  @include screen-md {
    margin-left: -30px;
    margin-right: -30px;

    &__item {
      width: 33.333%;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 60px;
    }
  }
  @include screen-min-sm {
    &__item {
      &:before {
        top: 50px;
        left: 0;
        width: 100%;
        height: 3px;
      }

      &:first-child {
        &:before {
          left: 50%;
        }
      }
      &:last-child {
        &:before {
          width: 50%;
        }
      }
    }
  }
  @include screen-sm {
    margin-left: 0;
    margin-right: 0;

    &__item {
      width: 100%;
      margin-bottom: 48px;

      &:before {
        bottom: 100%;
        left: 50%;
        height: 40px;
        width: 2px;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
    }
    &__top {
      width: 72px;
      height: 72px;
    }
    &__icon {
      transform: scale(0.72);
    }
    &__title {
      margin-top: 17px;
      font-size: 18px;
    }
  }
}