.unit {
  padding-top: 130px;
  padding-bottom: 130px;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
  }
  &__base {
    width: 562px;
    padding-left: 45px;
    padding-right: 45px;
  }
  &__side {
    width: 600px;
    padding-left: 40px;
    margin-left: auto;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__link {
    margin-top: 36px;
  }
  &__img {
    position: relative;
  }
  &__img-wrap {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-light-grey;
      transform: translate(14%,-18%);
    }
  }

  &_small {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &_reverse {
    .unit {
      &__container {
        flex-direction: row;
      }
      &__base {
        margin-left: auto;
      }
      &__side {
        margin-left: 0;
        padding-left: 0;
        padding-right: 40px;
      }
      &__img-wrap {
        &:before {
          transform: translate(-14%,16%);
        }
      }
    }
  }

  &_frame {
    .unit {
      &__img-wrap {
        &:before {
          transform: translate(5%,7%);
          background-color: rgba(#F9F9F9,.1);
        }
      }
    }
    &.unit_reverse {
      .unit {
        &__img-wrap {
          &:before {
            transform: translate(-5%,7%);
          }
        }
      }
    }
    .content-text {
      .title, p {
        color: $color-white;
      }
      p {
        font-size: 20px!important;
        line-height: 32px!important;
      }
    }
  }

  @include screen-xxl {
    &__img-wrap {
      &:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(40px,-40px);
      }
    }
    &_reverse {
      .unit {
        &__img-wrap {
          &:before {
            transform: translate(-40px,40px);
          }
        }
      }
    }
  }
  @include screen-xl {
    padding-top: 100px;
    padding-bottom: 100px;

    &__side {
      width: 52%;
      text-align: right;
      padding-left: 40px;
    }
    &__base {
      width: auto;
      padding-left: 40px;
      padding-right: 40px;
      flex: 1;
    }

    &_small {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &_reverse {
      .unit {
        &__side {
          text-align: left;
          padding-left: 0;
          padding-right: 40px;
        }
      }
    }
  }
  @include screen-lg {
    padding-top: 80px;
    padding-bottom: 70px;

    &__container {
      align-items: flex-start;
    }
    &__base {
      padding-left: 0;
      padding-right: 0;
    }
    &__side {
      width: 48%;
      padding-top: 3px;
      padding-left: 50px;
    }
    &__img-wrap {
      &:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(30px,-30px);
      }
    }

    &_small {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &_reverse {
      .unit {
        &__side {
          padding-right: 50px;
        }
        &__img-wrap {
          &:before {
            transform: translate(-30px,30px);
          }
        }
      }
    }
  }
  @include screen-md {
    &__container {
      display: block;
    }
    &__base {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &__side {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 35px;
      margin-left: 0;
      text-align: left;
    }
    &__img-wrap {
      &:before {
        content: none;
      }
    }

    &_reverse {
      .unit {
        &__side {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }
  @include screen-sm {
    padding-top: 50px;
    padding-bottom: 40px;

    &_small {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
