.video {
  margin-left: auto;
  margin-right: auto;
  width: 804px;

  &__box {
    @include responsive-ratio(804,453);
    position: relative;
    padding-top: 0;
    height: 0;
    overflow: hidden;
  }
  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__bg {
    transition: opacity .7s ease-in;
  }
  &__bg-img {
    @include img-cover;
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity $default-transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &_play {
    .video {
      &__bg,
      &__button {
        opacity: 0;
      }
      &__cover {
        pointer-events: none;
      }
    }
  }

  @include screen-lg {
    width: 600px;
  }
  @include screen-md {
    width: 500px;
  }
  @include screen-sm {
    width: 320px;
  }
  @include screen-xs {
    width: 280px;
  }
}

.pb-video {
  padding-bottom: 226px;

  @include screen-lg {
    padding-bottom: 169px;
  }
  @include screen-md {
    padding-bottom: 141px;
  }
  @include screen-sm {
    padding-bottom: 90px;
  }
  @include screen-xs {
    padding-bottom: 79px;
  }
}

.indent-video {
  position: relative;
  margin-top: -226px;

  @include screen-lg {
    margin-top: -169px;
  }
  @include screen-md {
    margin-top: -141px;
  }
  @include screen-sm {
    margin-top: -90px;
  }
  @include screen-xs {
    margin-top: -79px;
  }
}