.feature {
  padding: 43px 43px 40px;
  background-color: $color-white;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 162px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #F9F9FA;
    margin-bottom: 30px;
  }
  &__title {
    font-family: $font-interstate;
    font-size: 30px;
    line-height: 1.35;
    letter-spacing: normal;
    color: $color-black;
    @include break-text;
    margin: 0 -18px 15px;
  }
  &__text {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.009em;
    color: $color-grey;
  }

  @include screen-xl {
    &__title {
      font-size: 24px;
    }
  }
  //@media (min-width: 768px) and (max-width: 991px), (max-width: 575px) {
    @include screen-lg {
    padding: 37px 22px 34px;

    &__top {
      width: 120px;
      height: 120px;
      margin-bottom: 24px;
    }
    &__icon {
      transform: scale(0.75);
    }
    &__title {
      font-size: 24px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 13px;
    }
    &__text {
      font-size: 15px;
      line-height: 1.7;
      letter-spacing: -0.02em;
    }
  }
  @include screen-sm {
    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.pb-features {
  padding-bottom: 124px;

  .benefits {
    margin-bottom: 95px;
  }

  @include screen-xl {
    .benefits {
      margin-bottom: 70px;
    }
  }
  @include screen-lg {
    padding-bottom: 97px;

    .benefits {
      margin-bottom: 50px;
    }
  }
  @include screen-sm {
    .benefits {
      margin-bottom: 25px;
    }
  }
}
.indent-features {
  position: relative;
  margin-top: -124px;

  @include screen-lg {
    margin-top: -97px;
  }
}

.pb-3 {
  padding-bottom: 90px;

  @include screen-lg {
    padding-bottom: 70px;
  }
  @include screen-sm {
    padding-bottom: 75px;
  }
}